//------------------------------------\\
    // SETTINGS / CONFIGURATION
//------------------------------------\\

// Would you like classes to be prepended with a namespace? If so, define it
// here.
$namespace: null !default;


// Maps of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$fallbacks: (
  'pixels'           : false
);

$typography: (
  'dividers'         : true,
  'dropcaps'         : true,
  'glyphs'           : false,
  'hyphens'          : true,
  'indent'           : false,
  'lede'             : true,
  'small-caps'       : false,
  'smooth'           : true
) !default;

$generic: (
  'box-sizing'       : true,
  'reset'            : true,
  'shared'           : true
) !default;

$elements: (
  'anchors'          : true,
  'code'             : true,
  'forms'            : true,
  'headings'         : true,
  'lists'            : true,
  'media'            : true,
  'page'             : true,
  'quotes'           : true,
  'selections'       : true,
  'tables'           : true,
  'typography'       : true
) !default;

$layout: (
  'content'          : false,
  'flexbox'          : true,
  'grid'             : true,
  'wrappers'         : true
) !default;

$objects: (
  'box'              : true,
  'buttons'          : true,
  'elevation'        : true,
  'form-fields'      : true,
  'form-requirements': true,
  'icons'            : true,
  'list-banner'      : true,
  'list-bare'        : true,
  'list-fit'         : true,
  'list-inline'      : true,
  'list-ordered'     : true,
  'list-ui'          : true,
  'pullquote'        : true,
  'quotes'           : true,
  'ratios'           : true,
  'split'            : true,
  'tables'           : true
) !default;

$components: (
  'buttons'          : true,
) !default;

$trumps: (
  'broken-images'    : true,
  'colors'           : true,
  'headings'         : true,
  'helpers'          : true,
  'image-placements' : true,
  'print'            : true,
  'prose'            : true,
  'show-hide'        : true,
  'spacings'         : true,
  'text'             : true
) !default;

$debugging: (
  'baseline'         : true,
  'baseline-checks'  : false,
  'breakpoint-checks': false,
  'health-checks'    : false
) !default;


// You can access data in those maps using the following function:
//
//  config(<key>)
//
// Example usage:
//
//  @if (inuit-config(debug) == true) { ...  }

@function fallback($key) {
  @return map-get($fallbacks, $key);

  @warn "Unknown `#{$key}` in $fallbacks.";
  @return null;
}

@function typography($key) {
  @return map-get($typography, $key);

  @warn "Unknown `#{$key}` in $typography.";
  @return null;
}

@function generic($key) {
  @return map-get($generic, $key);

  @warn "Unknown `#{$key}` in $generic.";
  @return null;
}

@function elements($key) {
  @return map-get($elements, $key);

  @warn "Unknown `#{$key}` in $elements.";
  @return null;
}

@function layout($key) {
  @return map-get($layout, $key);

  @warn "Unknown `#{$key}` in $layout.";
  @return null;
}

@function objects($key) {
  @return map-get($objects, $key);

  @warn "Unknown `#{$key}` in $objects.";
  @return null;
}

@function components($key) {
  @return map-get($components, $key);

  @warn "Unknown `#{$key}` in $components.";
  @return null;
}

@function trumps($key) {
  @return map-get($trumps, $key);

  @warn "Unknown `#{$key}` in $trumps.";
  @return null;
}

@function debugging($key) {
  @return map-get($debugging, $key);

  @warn "Unknown `#{$key}` in $debugging.";
  @return null;
}
