  //------------------------------------\\
    // SETTINGS / GLOBAL
//------------------------------------\\

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Global spacing settings
// ==========================================================================

$base-spacing-unit                    : 1 !default;
$base-spacing-unit-tiny               : 0.25 !default;
$base-spacing-unit-small              : 0.5 !default;
$base-spacing-unit-large              : 1.5 !default;
$base-spacing-unit-huge               : 2 !default;

// Global animation settings
// ==========================================================================

$base-transition-speed                : 0.5s !default;
$base-transition-speed-fast           : $base-transition-speed / 2 !default;
$base-transition-speed-slow           : $base-transition-speed * 2 !default;
$base-transition-type                 : ease-out !default;

// Global shadow settings
// ==========================================================================

$base-shadow-color                    : #999;
$base-shadow-intensity                : 0.75;
$base-shadow-x                        : 0;
$base-shadow-y                        : 0;
$base-shadow-blur                     : 3px;
$base-shadow-spread                   : 0;

// High-level UI settings
// ==========================================================================

$base-ui-radius                      : 3px !default;
$base-ui-shadow                      : unquote($base-shadow-x + " " + $base-shadow-y + " " + $base-shadow-blur + " " + $base-shadow-spread + " " + rgba($base-shadow-color, $base-shadow-intensity));
$base-ui-transition                  : $base-transition-speed-fast $base-transition-type !default;

// Headings
// ==========================================================================

$headings-subtitles-inline           : true;

// Wrappers
// ==========================================================================

$wrapper-width-large                 : 74.551em;
$wrapper-width-medium                : 55.927em;
$wrapper-width-narrow                : 48em;

// Grid
// ==========================================================================

$grid-gutter                         : $base-line-height + rem; // Value in rem.

// Forms settings
// ==========================================================================

$label-color                         : color(muted);
$input-color-text                    : color(text);
$input-color-text-disabled           : color(ui-disabled);
$input-color-placeholder             : color(muted);
$input-color-background              : #fff !default;
$input-color-border                  : color(ui-medium);
$input-color-border-focus            : color(ui-dark);
$input-border-radius                 : $base-ui-radius;

// Forms fields
// ==========================================================================

$form-field-space-bottom             : 0.5;

// Code settings
// ==========================================================================

$code-border-radius                  : $base-ui-radius;

// tables
// ==========================================================================

$table-color-background              : color(ui-light);
$table-color-border                  : color(ui-medium);

// Images
// ==========================================================================

$broken-image-font-family            : $font-family-sans-serif;
$broken-image-text-shadow            : 0 1px #fff;

$broken-image-description-font-weight: $font-weight-bold;
$broken-image-description-font-style : normal !default;
$broken-image-description-text-align : center !default;
$broken-image-description-color      : inherit !default;

$broken-image-info-icon              : '\26A0';
$broken-image-info-text              : ' image non disponible';
$broken-image-info-font-weight       : $font-weight-regular;
$broken-image-info-font-style        : normal;
$broken-image-info-text-align        : center;
$broken-image-info-color             : inherit;

// Dividers
// ==========================================================================

$divider-width                       : 100%;
$divider-height                      : 1px; // Value in pixels.
$divider-space-top                   : 1;   // Space elements by an amount based on your magic number.
$divider-space-bottom                : 1;   // Space elements by an amount based on your magic number.
$divider-color                       : transparent;

$enable-divider-ornaments            : true;
$divider-ornament                    : "\2022\0020\2022\0020\2022";
$divider-ornament-space-top          : 0.95; // Space elements by an amount based on your magic number.
$divider-ornament-letter-spacing     : 0.6em;
$divider-ornament-color              : $color-gray-7; // rgba(0, 0, 0, 0.44);