//------------------------------------\\
    // SETTINGS / TYPOGRAPHY
//------------------------------------\\

// What would you like your base font-size to be? Value in px.
$base-font-size: 16 !default;

// What would you like your base font-size for large screens (> 960px) to be? Value in %.
$base-font-size-large: 125% !default;

// What would you like your base line height to be? See `variables/scales.scss`.
$base-line-height: $perfect-fifth !default;

// What would you like your scale factor to be? See `variables/scales.scss`
// http://webdesign.tutsplus.com/articles/how-to-establish-a-modular-typographic-scale--webdesign-14927
$base-scale-factor: $perfect-fourth !default;

// Google fonts settings.
// ==========================================================================

// Map of all Google fonts and variations used.
//$google-fonts: (
//  "Open Sans Condensed": 700,
//  "Gentium Basic"      : 400 400i 700 700i
//) !default;

// This mixin will take the contents of the `$google-fonts` variable, loop through it
// and come up with a Google URL we can `@import`.
// @include import-google-fonts();


// Font family settings.
// ==========================================================================

$font-family-serif       : $georgia !default;
$font-family-sans-serif  : $arial !default;
$font-family-monospace   : $consolas !default;

$font-family-body        : $font-family-serif !default;
$font-family-headings    : $font-family-sans-serif !default;


// Font weight settings.
// ==========================================================================

$font-weight-body        : $font-weight-regular !default;
$font-weight-headings    : $font-weight-bold !default;