/*------------------------------------*\
    THEME / ECSSENTIAL
\*------------------------------------*/

main {
	counter-reset: headings;
}

h2 {
	counter-increment: headings;
}

	h2:before {
		content: counter(headings) ". ";
	}

[role="note"] {
	//@include border($direction: top, $style: dashed);
	//@include border($direction: bottom, $style: dashed);
	//@include space(padding-top);
	//@include space(padding-bottom);
}