/* ==========================================================================
   THEME / ECSSENTIAL
   ========================================================================== */

main {
  counter-reset: headings;
}

h2 {
  counter-increment: headings;
}

  h2:before {
    content: counter(headings) ". ";
  }