@if (layout(content) == true) {

/* ==========================================================================
   LAYOUT / CONTENT
   ========================================================================== */

/**
 * Abstract layout into a quasi-grid-system.
 *
   <div class="l-content">
     <div class="[ l-content__item  l-content__main ]">...</div>
     <div class="[ l-content__item  l-content__sub ]">...</div>
   </div>
 */

// Predefine the variable below in order to alter and enable specific features.
$content-prefix: 'l-content' !default;


@include breakpoint(medium) {

  .#{$namespace}#{$content-prefix} {
    @include space(margin-left, -1);
    overflow: hidden;
  }

    .#{$namespace}#{$content-prefix}__item {
      display       : inline-block;
      @include space(padding-left);
      vertical-align: top;
    }

    .#{$namespace}#{$content-prefix}__sub {
      width: 35%;
    }

    .#{$namespace}#{$content-prefix}__main {
      width: 65%;
    }


  /**
   * Reversed-order content blocks.
   */

  .#{$namespace}#{$content-prefix}--rev {
    direction : rtl;
    text-align: left;
  }

    .#{$namespace}#{$content-prefix}--rev .#{$namespace}#{$content-prefix}__item {
      direction : ltr;
      text-align: left;
    }

}

}//endif