@if (trumps(text) == true) {

/**
 * Text adjustments.
 *
 * `Can you just make that text a little bigger?`
 *
 * Sure! Use these utilities to adjust the size of a span of text by a little
 * bit more, or a little bit less, e.g.:
 *
     <p class="u-text-large">A little bit bigger.</p>
 *
 */

.#{$namespace}u-text--xx-large { @include type(6,0,0); }
.#{$namespace}u-text--x-large  { @include type(5,0,0); }
.#{$namespace}u-text--large    { @include type(4,0,0); }
.#{$namespace}u-text--normal   { @include type(0,0,0); }
.#{$namespace}u-text--small    { @include type(-1,0,0); }
.#{$namespace}u-text--x-small  { @include type(-2,0,0); }


@if (enhancements(dropcaps) == true) {

/**
 * Dropcaps.
 *
 * The font size and margins used on lines 8 and 10 of the code above vary for
 * different typefaces. The following table provides values for two heights of
 * drop cap for each of four common typefaces.

    Times New Roman/Times, two lines   => font-size: 3.29em | margin: 0.205em 0.153em 0 0
    Times New Roman/Times, three lines => font-size: 5.53em | margin: 0.151em 0.0904em 0 0
    Georgia, two lines                 => font-size: 3.20em | margin: 0.225em 0.159em 0 0
    Georgia, three lines               => font-size: 5.32em | margin: 0.172em 0.0940em 0 0
    Arial/Helvetica, two lines         => font-size: 3.11em | margin: 0.240em 0.161em 0 0
    Arial/Helvetica, three lines       => font-size: 5.20em | margin: 0.192em 0.0962em 0 0
    Verdana, two lines                 => font-size: 3.06em | margin: 0.218em 0.163em 0 0
    Verdana, three lines               => font-size: 5.12em | margin: 0.162em 0.0977em 0 0

 * Info: http://code.stephenmorley.org/html-and-css/creating-drop-caps/
 */

// Predefine the variables below in order to alter and enable specific features.
$dropcap-namespace      : 'u-dropcap' !default;

// Which height of drop cap would you like to use? 2 or 3 paragraph lines?
$dropcap-number-of-lines: 2 !default;

// Choose one of four common typefaces (Times, Georgia, Arial, Verdana).
$dropcap-font-family    : Georgia !default;


.#{$namespace}#{$dropcap-namespace} {

  &:first-letter {
    float         : left;
    vertical-align: bottom;

    @if ($dropcap-number-of-lines == 2) {

      @if ($dropcap-font-family == Times) {
        margin     : 0.205em 0.153em 0 0;
        font-family: $dropcap-font-family;
        font-size  : 3.29em
      }

      @if ($dropcap-font-family == Georgia) {
        margin     : 0.225em 0.159em 0 0;
        font-family: $dropcap-font-family;
        font-size  : 3.2em;
      }

      @if ($dropcap-font-family == Arial) {
        margin     : 0.240em 0.161em 0 0;
        font-family: $dropcap-font-family;
        font-size  : 3.11em;
      }

      @if ($dropcap-font-family == Verdana) {
        margin     : 0.218em 0.163em 0 0;
        font-family: $dropcap-font-family;
        font-size  : 5.32em;
      }

    }

    @if ($dropcap-number-of-lines == 3) {

      @if ($dropcap-font-family == Times) {
        margin     : 0.151em 0.0904em 0 0;
        font-family: $dropcap-font-family;
        font-size  : 5.53em;
      }

      @if ($dropcap-font-family == Georgia) {
        margin     : 0.172em 0.0940em 0 0;
        font-family: $dropcap-font-family;
        font-size  : 5.53em;
      }

      @if ($dropcap-font-family == Arial) {
        margin     : 0.192em 0.0962em 0 0;
        font-family: $dropcap-font-family;
        font-size  : 5.20em;
      }

      @if ($dropcap-font-family == Verdana) {
        margin     : 0.162em 0.0977em 0 0;
        font-family: $dropcap-font-family;
        font-size  : 5.12em;
      }

    }

    line-height   : 0.5;
    text-transform: uppercase;
    color         : inherit;

  }

}

}//endif





@if (enhancements(lede) == true) {

/**
 * The `.u-lede` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger: en.wikipedia.org/wiki/Lede_(news)
 */

// Predefine the variables below in order to alter and enable specific features.
$lede-namespace: 'u-lede' !default;


.#{$namespace}#{$lede-namespace} {
  @include type(1, 0, 1);
}

}//endif





@if (enhancements(pullquotes) == true) {

/* ==========================================================================
   OBJECTS / PULLQUOTE
   ========================================================================== */

// Predefine the variable below in order to alter and enable specific features.
$pullquote-namespace: 'u-pull-quote' !default;

$pullquote-margin   : 2 !default; // Space elements by an amount based on your magic number.


.#{$namespace}#{$pullquote-namespace} {

  display   : block;
  @include space(margin-top);
  @include space(margin-right, $pullquote-margin);
  @include space(margin-bottom);
  @include space(margin-left, $pullquote-margin);
  @include type(1);
  font-style: italic;
  text-align: center;

  &::before {
    content: '';
  }

  &::after {
    content: '';
  }

}

}//endif





@if (enhancements(small-caps) == true) {

// Predefine the variables below in order to alter and enable specific features.
$small-caps-namespace: 'u-small-caps' !default;


/**
 * Small caps.
 *
 * For browsers that don't support OpenType, features, use all caps.
 */

.#{$namespace}#{$small-caps-namespace} {
  text-transform: uppercase;
  -ms-font-feature-settings: "lnum", "smcp", "c2sc" 0;
}


/**
 * Progressively enhance with `font-feature-settings` if `font-variant-caps`
 * isn't supported.
 */

@supports not (font-variant-caps: small-caps) {

  .#{$namespace}#{$small-caps-namespace} {
    text-transform               : inherit;
    -webkit-font-feature-settings: "onum", "smcp", "c2sc" 0;
            font-feature-settings: "onum", "smcp", "c2sc" 0;
    }

}


/**
 * Otherwise, and ideally, use `font-variant-caps`.
 */

@supports (font-variant-caps: small-caps) {

  .#{$namespace}#{$small-caps-namespace} {
    text-transform               : inherit;
    -webkit-font-feature-settings: "c2sc";
    font-feature-settings: "c2sc";
    font-variant-caps            : small-caps;
  }

}

}//endif

}//endif