@if (objects(box) == true) {

/*------------------------------------*\
    OBJECTS / BOX
\*------------------------------------*/

/**
 * The box object simply boxes off content. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. So we can apply the `.o-box` class to naturally-inline elements.
 */

// Predefine the variable below in order to alter and enable specific features.
$box-namespace: 'o-box' !default;


.#{$namespace}#{$box-namespace} {
  @include clearfix();
  display: block; /* [1] */
  @include space(padding);

  > :last-child {
    margin-bottom: 0;
  }

}





/* Size variants
   ========================================================================== */

.#{$namespace}#{$box-namespace}--flush {
  padding: 0;
}

.#{$namespace}#{$box-namespace}--tiny {
  @include space(padding, 0.25);
}

.#{$namespace}#{$box-namespace}--small {
  @include space(padding, 0.5);
}

.#{$namespace}#{$box-namespace}--large {
  @include space(padding, 1.5);
}

.#{$namespace}#{$box-namespace}--huge {
  @include space(padding, 2);
}

}//endif