@if (objects(form-requirements) == true) {

/* ==========================================================================
   OBJECTS / FORM-HELPERS
   ========================================================================== */

/**
 * Extra help text displayed after a field when that field is in focus and invalid, e.g.:
 *
   <label for="email">Email:</label>
   <input id="email" type="email">
   <span class="o-form-requirement">.edu emails only</small>
 *
 * We leave the help text in the document flow and merely set it to
 * `visibility:hidden;`. This means that it won’t interfere with anything once
 * it reappears.
 *
 */

// Predefine the variable below in order to alter and enable specific features.
$form-help-prefix: 'o-form-helper' !default;


.#{$namespace}#{$form-help-prefix} {
  display   : block;
  @include visually-hidden();
  color     : color(error);
}

:invalid:focus:not(:placeholder-shown) ~ .#{$namespace}#{$form-help-prefix} {
  @include visually-hidden(undo);
  margin-top: -$base-line-height + rem !important;
  @include space(padding-left, 0.25);
}

}//endif