@if (objects(pullquote) == true) {

/* ==========================================================================
   OBJECTS / PULLQUOTE
   ========================================================================== */

// Predefine the variable below in order to alter and enable specific features.
$pullquote-namespace: 'o-pullquote' !default;

$pullquote-margin   : 2 !default; // Space elements by an amount based on your magic number.


.#{$namespace}#{$pullquote-namespace} {
  display   : block;
  @include space(margin-right, $pullquote-margin);
  @include space(margin-bottom);
  @include space(margin-left, $pullquote-margin);
  @include type(1);
  font-style: italic;
  text-align: center;
}

}//endif