@if (objects(tables) == true) {

/*------------------------------------*\
    OBJECTS / TABLES
\*------------------------------------*/

// Predefine the variables below in order to alter and enable specific features.
$tables-namespace      : 'o-table' !default;

$table-color-background: #f1f3f5!default;
$table-color-border    : #e9ecef !default;


/* Equal-width table cells.
   ========================================================================== */

/**
 * `table-layout: fixed` forces all cells within a table to occupy the same
 * width as each other. This also has performance benefits: because the browser
 * does not need to (re)calculate cell dimensions based on content it discovers,
 * the table can be rendered very quickly. Further reading:
 * https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout#Values
 */

.#{$namespace}#{$tables-namespace}--fixed {
  table-layout: fixed;
}





/* Style variants
   ========================================================================== */

/**
 * Bordered tables.
 *
   <table class="o-table--bordered">
     ...
   </table>
 */

.#{$namespace}#{$tables-namespace}--bordered {
    @include border(top);

    & thead > tr > th {
        @include border(bottom);
    }

    & tbody > tr  td {
        @include border(bottom);
    }

    & th,
    & td {
        @include border(left);
    }

    & tr > th:last-child,
    & tr > td:last-child {
        @include border(right);
    }

}

/**
 * Striped tables.
 *
   <table class="o-table--striped">
     ...
   </table>
 */

.#{$namespace}#{$tables-namespace}--striped {
    & tbody > tr:nth-child(odd) {
        background-color: $table-color-background;
    }
}

}//endif