@if (elements(anchors) == true) {

/* ==========================================================================
   ELEMENTS / ANCHORS
   ========================================================================== */

/**
 * 1. Remove the gray background color from active links in IE 10.
 */

a {
  color              : color(action);
  background-color   : transparent; /* [1] */
  transition         : all $base-ui-transition;
}

a:hover,
a:focus,
a:active {
  color  : darken(color(action), 10%);
}


/**
 * Make all links feel subtly more button-like.
 *
 * Setting a different positioning value for the active state of a link is
 * something you need to be very careful about. If you have any links on your
 * site that are absolutely positioned, having the active state change to
 * relative position will (probably) make them go flying away and render them
 * unclickable. You can fix this on a case-by-case basis by making the active
 * state of those links retain absolute positioning, and even make their top
 * value one higher (or bottom value one lower).
 */

a:active {
  position: relative;
  top     : 1px;
}


/**
 * Additional info.
 */

a:before,
a:after {
  @include type(-1, $line-height: 1);
  vertical-align: baseline;
}


/**
 * Remove borders.
 */

a img,
a abbr {
  border: 0 !important;
}


/**
 * Fixing styles on `code` tags nested inside links.
 */

a code {
  padding   : inherit;
  color     : inherit;
  background: inherit;
}

}//endif