@if (elements(forms) == true) {

/* ==========================================================================
   ELEMENTS / FORMS
   ========================================================================== */

// Predefine the variables below in order to alter and enable specific features.
$input-color-text         : color(text) !default;
$input-color-text-disabled: color(text-muted) !default;
$input-color-placeholder  : color(text-muted) !default;
$input-color-background   : white !default;
$input-color-border       : color(ui-medium) !default;
$input-color-border-focus : color(ui-dark) !default;


form,
fieldset {
  @include space(margin-bottom);
}


/**
 * 1. inputs with a type=["search"] in WebKit browsers by default have rounded
 *    corners and are very strict in what you can alter via CSS. We don't want
 *    that styling and remove it in one fell swoop with appearance.
 *    Info: https://css-tricks.com/almanac/properties/a/appearance/
 */

input[type="search"] {
  -webkit-appearance: textfield; /* [1] */
}


/**
 * Make sure our form elements don't use any UA-specific font styles: we want
 * them to use ours. This may need reverting as more design information becomes
 * available, and we start putting together more complete forms.
 */

input {
  font: inherit;
}


/**
 * Placeholder attribute text.
 *
 * 1. In Firefox, placeholder text has a default opacity of around 0.5 so setting
 *    color: red on the placeholder will result in a muted color unless you also
 *    set opacity: 1.
 */

input::-webkit-input-placeholder { color: $input-color-placeholder; }
input::-moz-placeholder          { color: $input-color-placeholder; opacity: 1 } /* [1] */
input:-ms-input-placeholder      { color: $input-color-placeholder; }
input::placeholder               { color: $input-color-placeholder; }


/**
 * Change Autocomplete styles in Chrome.
 *
 * 1. Text color.
 * 2. Trick the yellow color to your own background color with a strong inside
 *    shadow. Change `white` to any color.
 * 3. Use this if you need a transparent input field.
 */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit !important;          /* [1] */
  -webkit-box-shadow     : 0 0 0px 1000px white inset, 0px 0px 0px 1px $input-color-border !important; /* [2] */
//transition             : background-color 5000s ease-in-out 0s; /* [3] */
}


/**
 * 1. Remove default styling.
 * 2. When input not empty / in focus / not valid
 */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  width        : auto;
  @include space(padding-right, 0.4);
  @include space(padding-left, 0.4);
  color           : $input-color-text;
  background-color: $input-color-background;
  box-shadow   : 0px 0px 0px 1px $input-color-border;
  border       : none;
  border-radius: $base-ui-radius;
  @include prefix((appearance: none), webkit moz ms); /* [1] */

  &:focus {
    box-shadow: 0px 0px 0px 1px $input-color-border-focus;
  }

  &:invalid:focus:not(:placeholder-shown) {
    box-shadow: 0px 0px 0px 1px color(error); /* [2] */
  }

  &[disabled],
  &[readonly] {
    font-style: italic;
    color     : $input-color-text-disabled;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}


/**
 * Specify the type of cursor to be displayed.
 */

input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}


@if (enhancements(glyphs) == true) {

  /**
   * Turns on lining, proportional numerals without clarified zeroes.
   */

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="number"],
  input[type="range"],
  input[type="tel"],
  input[type="week"] {
    font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0; /* [1] */
  }

}//endif


/**
 * 1. Remove the extra bottom margin that both Firefox and Chrome seem to give
 *    to textareas.
 */

textarea {
  vertical-align: top; /* [1] */
}

}//endif