@if (elements(headings) == true) {

/* ==========================================================================
   ELEMENTS / HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// Predefine the variable below in order to alter and enable specific features.
$headings-subtitles-inline: true !default;


%headings {

  font-family   : $font-family-headings;
  font-weight   : $font-weight-headings;
  word-wrap     : break-word;
  color         : color(text);

  // Turn on discretionary ligatures for larger headings.
  @if (typography(glyphs) == true) {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  }

  a {
    font-weight: inherit;
  }

  small {

    display: table;

    @include breakpoint(medium) {
      @if $headings-subtitles-inline == true {
        display: inline;
      }
    }

    @include space(height);
    vertical-align: baseline;
    font-size     : 75%;
    line-height   : 1;
    color         : color(text-muted);

  }

}


// We have all of our heading font sizes defined here. Our `type()` mixin will
// generate a rem-based `font-size`, as well as generating a `line-height` and
// margins that will sit on our baseline grid.

h1 { @extend %headings; @include type(4, 0, 1); }
h2 { @extend %headings; @include type(3, 0, 1); }
h3 { @extend %headings; @include type(2, 0, 1); }
h4 { @extend %headings; @include type(1, 0, 1); }
h5 { @extend %headings; @include type(0, 0, 0); }
h6 { @extend %headings; @include type(0, 0, 0); }

}//endif