@if (elements(tables) == true) {

/* ==========================================================================
   ELEMENTS / TABLES
   ========================================================================== */

/**
 * Crude table styles; tables are very difficult to keep on the baseline.
 *
 * 1. Ensure tables fill up as much space as possible.
 * 2. Turns on tabular, lining numerals and slashed zero
 */

table {
  width          : 100%; /* [1] */
  border-collapse: collapse;
  border-spacing : 0;

  @if (enhancements(smooth) == true) {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0; /* [2] */
  }
}


@if (enhancements(smooth) == true) {

  /**
   * 1. Turns on tabular, lining numerals and slashed zero
   */

  tbody,
  caption {
    font-feature-settings: "kern" 1,  "liga" 1,  "calt" 1,  "pnum" 0,  "tnum" 1,  "onum" 0,  "lnum" 1, "zero" 1; /* [1] */
  }

}//endif


thead tr:last-child th{
  @include border(bottom);
}


th,
td {
  @include space(padding, $base-spacing-unit-small);
  text-align: left;
}


/**
 * Cell alignments
 */

[colspan] {
  text-align: center;
}

[colspan="1"] {
  text-align: left;
}

[rowspan] {
  vertical-align: middle;
}

[rowspan="1"] {
  vertical-align: top;
}

}//endif