//------------------------------------\\
    // MIXINS / BORDERS
//------------------------------------\\

// 1. Where horizontal borders are concerned we want to keep a consistent baseline
//    by using `background-image` instead of `border-top` or `border-bottom`.

@mixin border($direction: all, $width: 1px, $style: solid, $color: color(ui-medium), $radius: 0) {

  position    : relative;
  border-style: $style;
  border-color: $color;

  @if ($direction == all) {

    border-right-width: $width;
    border-left-width : $width;

    @include pseudo-element(before, $top: -$width) {
      background-image   : linear-gradient(to bottom, transparent 50%, $color 50%); /* [1] */
      background-position: 0 top;                                                   /* [1] */
      background-repeat  : repeat-x;                                                /* [1] */
      background-size    : 100% rem(strip-units($width) * 1.6);                     /* [1] */
    }

    @include pseudo-element(after) {
      background-image   : linear-gradient(to bottom, transparent 50%, $color 50%); /* [1] */
      background-position: 0 bottom;                                                /* [1] */
      background-repeat  : repeat-x;                                                /* [1] */
      background-size    : 100% rem(strip-units($width) * 1.6);                     /* [1] */
    }

  }

  @if ($direction == top) {

    @include pseudo-element(before, $top: -$width) {
      background-image   : linear-gradient(to bottom, transparent 50%, $color 50%); /* [1] */
      background-position: 0 top;                                                   /* [1] */
      background-repeat  : repeat-x;                                                /* [1] */
      background-size    : 100% rem(strip-units($width) * 1.6);                     /* [1] */
    }

  }

  @if ($direction == bottom) {

    @include pseudo-element(after) {
      background-image   : linear-gradient(to bottom, transparent 50%, $color 50%); /* [1] */
      background-position: 0 bottom;                                                /* [1] */
      background-repeat  : repeat-x;                                                /* [1] */
      background-size    : 100% rem(strip-units($width) * 1.6);                     /* [1] */
    }

  }

  @if ($direction == left) {
    border-left-width: $width;
  }

  @if ($direction == right) {
    border-right-width: $width;
  }

}